footer{
	#lvl_1,#lvl_2,#lvl_3{
		padding: 30px 0;
	}
	#lvl_1{background-color: #3396D1}
	#lvl_2{
		background-color: #2f3339;
		h5,a{
			color: #fff;
		}
		h5{font-size: 1em; text-transform: uppercase}
		ul{
			margin: 0;padding: 0;
			font-size: .9em;
			li{
				list-style: none;
				line-height: 2.6em;
			}
		}
	}
	#lvl_3{background-color: #22262C;}
	#logo_footer{
		margin: 50px 0;
	}
}