
//Numero de Columnas
$total-columns: 12;
//Ancho de las columnas
$column-width   : 5em;
//Espacio entre columnas
$gutter-width   : 0em;
//space on the right and left of the grid
$grid-padding   : $gutter-width;

$container-style: fluid;


$color-header:#3D3D3D;
$color-menu:#433521;
$color-menu-activo:#FCDAAF;