@import "compass";
@import "rangeSlider";
@import "datepicker";
@import "tabs";
:focus {
outline: 0 none !important;
}
body{
	margin: 0;
	padding: 0;
}
.container-fluid{
	border-bottom:1px solid #ddd;
	padding: 0;
	.col-xs-3{margin: 0; padding: 0;}
}

.col-xs-3{}
.nav{
	background-color: #f4f4f4;
	a{
		font-size: 1.2em;
		text-indent: 20px;
	}
}
1667